body {
    font-size: 14px;
}
.container{
    width: 900px;
    margin: 0 auto;
    /* background-color:rgb(146, 146, 146); */
}
.all-page {
    display: block;
    margin-top:80px;
}
.all-page-title {
    text-align: center;
}

/*header start*/
.nav-header {
    
    width: 100%;
    height: 90px;
    background-color: rgb(44, 62, 80);
}
    .nav-header-bar {
        display: flex;
        width: 700px;
        height: 100%;
        /* background-color:rgb(189, 164, 164); */
        margin: 0 auto;
    }
        .nav-logo {  
            color: #fff;
            font-size: 22px;
            font-weight: bolder;
            line-height: 90px;
        }
        .nav-menu {
            flex: 1;
            width: 72;
            height: 40px;
            text-align: right;
            line-height: 30px;
            
        }
            .menus:hover {
                border: 2px solid rgb(240, 240, 240);
                background-color:rgb(240, 240, 240);
                border-radius:10px;
            }
            .menus {
                float: right;
                margin-top: 30px;
            }
            .menus a:hover {
                color:#666;
            }
            .menus a {
                color: #fff;
                margin: 0 10px;
            }
/*header end*/

/*list star*/
.list-items {
    display: flex;   
    margin-top: 50px;
}
    .list-items-inner {
        width: 680px;
    }
        .article {
            /*单行文本溢出*/
            overflow:hidden;     
            white-space:nowrap;  
            text-overflow:ellipsis;
        }
        .article a {
            font-size:20px;
            color: #000000;
            line-height: 40px;
        }
        .tag-group {
            
        }
        .tag-group span {
            color: #999;
            line-height: 40px;
            margin-right: 20px;
        }
    .article-desc {
        color: #666;
        text-indent: 2em;
        line-height: 30px;
        /*多行文本溢出*/
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .list-items-icon {
        flex: 1;
        height: 200px;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
        .book-bg {
            background-image: url('../images/web.jpg')
        }
    .btn {
        width: 90px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius:5px;
        background-color: rgb(44, 62, 80);
        margin-top: 20px;
    }
        .btn a {
            font-size: 13px;
            color: #fff;
        }
/*list end*/

/*paging start*/
.pagination {
    text-align: left;
    border-top: 1px solid #b0afaf;
    margin-top: 120px;
    padding-top: 10px;
}
    .pagination span {
        display: inline-block;
        width: 30px;
        height: 30px;
        color: #fff;
        text-align: center;
        line-height: 30px;
        border:1px solid rgb(44, 62, 80);
        background-color:rgb(44, 62, 80);
        padding: 0 10;
        margin: 0 20;
    }
/*paging end*/

/*footer start*/
.footer {
    display:block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    left:0;
    right:0;
    color:#fff;
    background-color: rgb(44, 62, 80);
    margin-top: 80px;
    
}
    .footer-inner {
        width:900px;
        text-align: center;
        line-height: 40px;
        /* background-color: red; */
        margin:0 auto;
    }
        .copyright span {
            margin: 3px;
        }

        .copyright span a {
            color:#fff;
        }
/*footer end*/

/*category start*/

    
        .allpage-items {
            color: gray;
            margin: 10px 10px;
        }
        .allpage-items a {
            
        }
/*category end*/

/*archive start*/
.archive-title {
    margin: 60px 0;
}
    .archive-year {
        font-size: 22px;
        color:#555;
        margin-left: 20px;

    }
.post-header {
    position: relative;
    border-bottom:1px dotted #555;
    padding: 18px 0;
}    
    .post-title { 
        font-size: 16px;
        color: #555;
        font-weight: normal;
        line-height: inherit;
        margin-left: 60px;
    }
    .post-time {
        position: absolute;
        font-size: 12px;
        left: 20px;
        top: 20px;
    }
/*archive end*/

/*tags start*/
.tags {
    width: 700px;
    height: 140px;
    text-align: center;
    
}
.tags a {
    display: inline-block;
    margin: 10px;
}
/*tags end*/

/*open start*/
.open-all-content {
    width: 900px;
    margin: 0 auto;
    margin-top: 30px;

}
    .open-all-list {
        float: left;
        width: 35%;
        margin-right: 10%;
        margin-bottom: 20px;
        padding: 5px;
        border:1px solid #ddd;
        box-sizing: border-box;
        /* background-color: red; */
    }
        .open-list-image img {
            width: 100%;
        }
    .open-list-title {
        font-size: 20px;
        height: 50px;
        text-align: center;
        margin-top: 10px;
    }
        .open-list-title a {
            color: #222;
        }
    .open-list-num {
        height: 30px;
        text-align: center;
    } 
        .open-list-subhead {
            font-size: 14px;
            color: #555;
            line-height: 25px;
            height: 75px;
            text-align: center;
        }
/*open end*/

/*about start*/
.posts-expand {
    border:1px solid #ddd;

}
    .posts-expand h3 {
        font-size: 20px;
        
        margin: 20px 0 10px;

    }
    .posts-expand a {
        color: #222;
    }
    .posts-expand p {
        font-size: 13px;
        color: #555;
        margin-bottom: 25px;

    }
/*about end*/